<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Lista de Jogadores:</h1>
    <ul>
        @if (ViewBag.Jogadores != null)
        {
        @foreach (var jogador in ViewBag.Jogadores)
        {
        <li>@jogador.Nome - @jogador.Posicao - Nv. Ataque: @jogador.NivelAtaque - Nv. Defesa: @jogador.NivelDefesa</li>
        }
        }
    </ul>
</body>
</html>