<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Cadastro/Incluir" method="post">
        <h1>Cadastro de jogador:</h1>
        <label>Nome:</label>
        <input name="nome" />
        <br />

        <label>Posição:</label>
        <input name="posicao" />
        <br />

        <label>Nv. Ataque:</label>
        <input name="nivel_ataque" />
        <br />

        <label>Nv. Defesa:</label>
        <input name="nivel_defesa" />
        <br />

        <button>Salvar</button>
    </form>

</body>
</html>
